body::before {
  content: "Johnathan MEUNIER @J7N_ _  \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 Jean Lou PIERME @jloupiote";
  color: #fff;
  z-index: 9999;
  top: 10px;
  left: 0px;
  width: 100%;
  font-size: 1.5rem;
  opacity: 0.7;
  text-align: center;
  position: absolute;
}

.codeSlide--john {
  max-width: 1400px !important;
}

.codeSlide--john h1 {
  z-index: 99;
  background-color: #e9724c;
  border: none !important;
}

.codeSlide--john code {
  color: white;
  background-color: #481d24;
  font-size: 1em !important;
  width: 100%;
  padding: 10px;
}

.codeSlide--john pre {
  padding-top: 20% !important;
}

.spectacle-content pre + div {
  border: 5px solid white;
  background-color: #255f85 !important;
  font-size: 1em;
  width: calc(1400px - 20px) !important;
  bottom: 40px !important;
}

blockquote span {
  border-left: 20px solid #255f85 !important;
}

blockquote span,
blockquote cite {
  color: #481d24 !important;
}

blockquote span {
  font-size: 3.5rem !important;
}

.presentation__list {
  list-style: none;
}

.presentation__list img {
  width: 30px;
  display: inline-block;
  margin-right: 20px;
  vertical-align: bottom;
}

.avatar {
  border-radius: 50%;
  width: 250px;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 20px 3px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 20px 3px rgba(50, 50, 50, 0.5);
}

a {
  color: #61dafb;
}
