.codeSlide--john h1 {
  z-index: 99;
  background-color: #e9724c;
  border: none !important;
}

code {
  color: white;
  background-color: #481d24;
}

code {
  font-size: 1em !important;
  width: 100%;
  padding: 10px;
}

.spectacle-content pre + div {
  border: 1px solid white;
  background-color: #255f85 !important;
  font-size: 1em;
  width: 60% !important;
}
