add = (a, b) => a + b

add(1, 2)
add(1, null);
add(1, "2");

makeSafe = fn => (...args) => {
  if (args.some(arg => Number(arg) !== arg)) return NaN;
  return fn(…args);
}

safeAdd = makeSafe(add);

safeAdd(1, 2);
safeAdd(1, null);
safeAdd(1, "2");