add = (a, b) => a + b

makeSafe = fn => (...args) => {
  if (args.some(arg => Number(arg) !== arg)) return NaN;
  return fn(…args);
}

safeAdd = makeSafe(add);

safeAdd(1, 2) // 3
safeAdd(1, null); // NaN
safeAdd(1, "2"); // NaN